  <f:if condition="{header}">
    <f:then><f:format.raw>{header}</f:format.raw></f:then>
    <f:else><h2>{data.title}</h2></f:else>
  </f:if>
  <f:if condition="{data.tx_pagelist_datetime}">
    <span class="date">
      <f:format.date format="j. M Y">
        {data.tx_pagelist_datetime}
      </f:format.date>
    </span>
  </f:if>
  <f:for each="{authors}" as="author">
    <f:if condition="{author.data.firstname} || {author.data.lastname}">
      <span class="author">
        <f:if condition="{author.authorimages.0}">
          <figure><img src="<f:uri.image image="{author.authorimages.0}" width="120c" height="120c" />" alt="{f:if(condition:'{author.authorimages.0.alternative}', then:'{author.authorimages.0.alternative}', else:'{author.data.firstname} {author.data.lastname}')}"/></figure>
        </f:if>
        {author.data.firstname} {author.data.lastname}
      </span>
    </f:if>
  </f:for>
