<body class="homepage">
	<div id="cTop">
		<div id="p{data.uid}">
			<div id="header">
				<div class="header-bg"></div>
				<div class="pageWidth">
					<div class="contentWidth">
						<f:render partial="Logo" arguments="{_all}" />
						<f:if condition="{site.languages -> f:count()} > 1 && {languageNavigation}"><f:render partial="MenuLanguage" arguments="{_all}" /></f:if>
						<f:render partial="MenuMain" arguments="{_all}" />
					</div>
				</div>
			</div>
			<div id="content">
				<div class="pageWidth">
			    	<f:format.raw>{content}</f:format.raw>
		    	</div>
			</div>
			<div id="footer">
				<div class="pageWidth">
					<footer>
						<f:format.raw>{footer}</f:format.raw>
					</footer>
		    	</div>
			</div>
		</div>
	</div>
</body>
